/* --------- mixins --------- */
@mixin jenya($style : mari) {
	@if $style == mareg {
		font-family: 'MyriadProRegular';
	}

	@if $style == mabold {
		font-family: 'MyriadProBold';
	}

	@if $style == lato {
		font-family: 'LatoBold';
	}

	@if $style == comfort {
		font-family: 'ComfortaaBold';
	}

	@if $style == caviar {
		font-family: 'CaviarDreamsBold';
	}
}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin gorizontal-gradient {
	background: rgba(255,66,0,1);
	background: -moz-linear-gradient(left, rgba(255,66,0,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,102,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,66,0,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(100%, rgba(255,102,0,1)));
	background: -webkit-linear-gradient(left, rgba(255,66,0,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,102,0,1) 100%);
	background: -o-linear-gradient(left, rgba(255,66,0,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,102,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,66,0,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,102,0,1) 100%);
	background: linear-gradient(to right, rgba(255,66,0,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(255,102,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4200', endColorstr='#ff6600', GradientType=1 );
}

@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 320px) {
		@content;
	}
}

@mixin main($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// variable
$outline: 1px solid grey;

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include jenya(mareg);
	line-height: 1.6;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

button, 
button:active, 
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {color:#3e3e3e;}
input::-moz-placeholder {color:#3e3e3e;}/* Firefox 19 */
input:-moz-placeholder {color:#3e3e3e;}/* Firefox 18 */
input:-ms-input-placeholder {color:#3e3e3e;}

p {
	padding: 0;
	margin: 0;
}

// base style 
.main {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
}

// header area
.header {
	min-height: 780px;
	background: url('../img/back-head.png') no-repeat center top/cover;
	@include laptop {
		min-height: 620px;
	}
	@include tablets {
		min-height: 900px;
	}
	@include phones {
		min-height: 0;
    height: auto;
    padding-bottom: 40px;
    background: url(../img/back-mobile.png) no-repeat center top/cover;
	}
	& .footer__descr {
		padding-top: 55px;
		@include tablets {
			float: none;
			display: block;
			margin: 75px auto 0;
		}
		@include phones {
			padding-top: 0;
			margin-top: 45px;
		}
	}
	& .footer__logo {
		padding-top: 90px;
		@include desktop {
			padding-left: 10px;
		}
		@include tablets {
			float: none;
			display: block;
			margin: 0 auto;
			height: 213px;
			width: 282px;
			padding-top: 60px;
			padding-left: 0;
		}
		@include phones {
			padding-top: 15px;
			width: 272px;
			height: 203px;
		}
	}
	& .footer__title, .footer__text {
		@include phones {
			font-size: 32px;
		}
	}
	& .footer__brand {
		@include phones {
			width: 280px;
		}
	}
	& .footer__price-new {
		@include tablets {
			right: 15%;
		}
		@include main(510px) {
			right: 10%;
		}
		@include phones {
			font-size: 30px;
			position: relative;
			display: inline-block;
			left: 0;
			top: 0;
			margin-left: 40px;
		}
	}
	& .footer__price-old {
		@include tablets {
			left: 20%;
		}
		@include main(510px) {
			left: 10%;
		}
		@include phones {
			font-size: 22px;
			position: relative;
			display: inline-block;
			left: 0;
			top: 0;
			margin-left: 5px;
		}
	}
	& .footer__button {
		margin-top: 80px;
		@include phones {
			margin-top: 0;
			width: 232px;
			height: 40px;
		}
	}
	& .footer__button-item {
		@include phones {
			font-size: 24px;
		}
	}
}

// about area
.about {
	min-height: 1130px;
  background: url(../img/back-advantuges.png) no-repeat center top/cover;
}

.about__title {
	font-size: 48px;
	@include jenya(comfort);
	text-align: center;
	margin-bottom: 60px;
}

.about__top {
	@include clearfix;
	position: relative;
	margin-bottom: 60px;
}

.about__brand {
	width: 588px;
	height: 94px;
	float: left;
	position: relative;
	margin-top: 30px;
}

.about__brand-item {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.about__text {
	position: relative;
	float: right;
	width: 45%;
	font-size: 24px;
	@include jenya(mabold);
}

.about__bottom {
	position: relative;
}

.about__bottom-title {
	font-size: 36px;
	@include jenya(comfort);
	text-align: center; 
	margin-bottom: 35px;
}

.about__bottom-content {
	position: relative;
	@include clearfix;
	min-height: 420px;
}

.about__bottom-item {
	position: relative;
	width: 25%;
	float: left;
}

.about__bottom-pic {
	width: 200px;
	height: 200px;
	position: relative;
	margin: 0	auto;
}

.about__bottom-pic_item {
	@include absolute-center;
	max-width: 99.9%;	
	max-height: 99.9%;	
}

.about__bottom-text {
	font-size: 18px;
	width: 72%;
	margin: 0 auto;
	margin-top: 40px;
}

// property area
.property {
	margin-top: -140px;
	position: relative;
	background: transparent;
	z-index: 2;
	.row {
		min-height: 1025px;
		background-color: #e5f2fa;
		border-radius: 15px;
		box-shadow: 0px -2px 20px #ccc;
	}
}

.property__title {
	font-size: 48px;
	@include jenya(comfort);
	text-align: center;
}

.property__top {
	@include clearfix;
	padding-left: 25px;
	margin-top: -10%;
}

.property__top-left {
	float: left;
	position: relative;
	width: 261px;
	height: 588px;
	margin-right: 50px;
}

.property__top-left_pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.property__top-right {
	float: left;
	position: relative;
	width: 807px;
	height: 336px;
	margin-top: 13%;
}

.property__top-right_pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.property__bottom {
	@include clearfix;
	padding-left: 25px;
	margin-top: -30px;
}

.property__bottom-left {
	float: left;
	position: relative;
	width: 780px;
	height: 335px;
	margin-right: 60px;
	margin-left: 15px;
	margin-top: -40px;
}

.property__bottom-left_pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.property__bottom-right {
	float: left;
	position: relative;
	width: 210px;
	height: 431px;
	margin-top: -50px;
}

.property__bottom-right_pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

// comfort area
.comfort {
	min-height: 1364px;
	background: url('../img/back-comfort.png') no-repeat center top/cover;
	color: #fff;
	margin-top: -170px;
	position: relative;
	.row {
		padding-top: 200px;
	}
	@include main(1240px) {
		min-height: 1160px;
	}
}

.comfort__title {
	@include jenya(comfort);
	font-size: 48px;
	text-align: center;
}

.comfort__text {
	@include jenya(mabold);
	font-size: 24px;
	text-align: center;
	max-width: 670px;
	margin: -35px auto 0;
	margin-bottom: 100px;
}

.comfort__content {
	@include clearfix;
	position: relative;
  width: 110%;
  margin-left: -2%;
  @include main(1420px) {
		width: 101%;
	}
	@include main(1240px) {
		width: 97%;
		margin-left: 3%;
	}
	@include laptop {
		width: 99%;
		margin-left: 1%;
	}
}

.comfort__item {
	height: 800px;
	width: 450px;
	float: left;
	margin: 0 -68px;
	@include main(1420px) {
		width: 365px;
		margin: 0 -35px;
	}
	@include main(1240px) {
		width: 250px;
		margin: 0 -10px;
		height: auto;
	}
	@include laptop {
		margin: 0 -33px;
	}
}

.comfort__item-pic {
	position: relative;
	height: 600px;
	width: 97%;
	margin-bottom: 35px;
	@include main(1420px) {
		height: 500px;
		width: 100%;
	}
	@include main(1240px) {
		height: 300px;
		width: 87%;
		margin: 0 auto 35px;
	}
}

.comfort__item-pic_elem {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.comfort__item-text {
	@include jenya(mabold);
	font-size: 24px;
	width: 200px;
	text-align: center;
	margin-left: 50px;
	&_one {
		color: #0174aa;
	}
	&_two {
		color: #d8c401;
	}
	&_three {
		color: #ef6301;
	}
	&_four {
		color: #00b09b;
	}
	@include main(1420px) {
		margin-left: 25px;
	}
	@include main(1240px) {
		margin-left: -10px;
		font-size: 22px;
	}
}

// gallery area
.gallery {
	min-height: 1421px;
	background: url('../img/blue-back.png') no-repeat center top/cover;
	margin-top: -150px;
	.row {
		@include clearfix;
		padding: 150px 26px 0;
	}
}

.gallery__title {
	font-size: 48px;
	@include jenya(comfort);
	text-align: center;
}

// gallery__man aside
.gallery__man {
	width: 46%;
	float: left;
}

.gallery__man-preview {
	@include clearfix;
	margin-bottom: 60px;
}

.gallery__man-dots {
	width: 100px;
	height: 580px;
	margin-right: 20px;
	float: left;
}

.gallery__man-dots_item {
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px 0;
	border: 1px solid #494b4d;
	cursor: pointer;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.gallery__man-dots_pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.gallery__man-show {
	max-width: 388px;
	height: 580px;
	float: left;
	border: 1px solid #494b4d;
}

.gallery__man-show_pic {
	width: 100%;
	height: 100%;
}

.gallery__man-descr {
	padding-left: 45px;
}

.gallery__man-descr_item {
	font-size: 16px;
	line-height: 20px;
	&:last-child {
		margin-top: 10px;
		@include clearfix;
	}
}

.gallery__man-descr_bold {
	@include jenya(mabold);
	float: left;
	margin-right: 5px;
	&-size {
		font-size: 14px;
	}
}

.gallery__man-descr_size {
	color: #ff6600;
	text-decoration: underline;
	width: 135px;
	float: left;
	margin-top: 3px;
	&:hover {
		cursor: pointer;
	}
}

.gallery__man-checkbox {
	width: 172px;
	float: left;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 11px 13px;
	border: 2px solid #0099cc;
	display: inline-block;
	position: relative;
	margin: 0 5px;
	color: #000;
	cursor: pointer;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	color: #fff;
}

.regular-checkbox:checked + label {
	// background-color: #e9ecee;
	border: 2px solid #0099cc;
	background-color: #0099cc;
	// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #fff;
	cursor: pointer;
}

.regular-checkbox:checked + label:after {
	content: '';
	font-size: 14px;
	position: absolute;
	// top: 1px;
	// left: 8px;
	color: #fff;
}

.check__color-mark {
	font-size: 14px;
	position: absolute;
	top: 1px;
	left: 11px;
	// color: #fff;
}

.mark-center {
	left: 8px;
}

.gallery__man-form {
	width: 466px;
	height: 210px;
	border: 2px solid #0099cc;
	background-color: #eae7e9;
	margin: 25px auto 0;
}

.gallery__man-form_price {
	height: 75px;
	width: 100%;
	position: relative;
	& .footer__price-old {
		left: 70px;
	}
	& .footer__price-old_line {
		background-color: #ce0c14;
	}
	& .footer__price-new {
		right: 80px;
		color: #ce0c14;
	}
}

// gallery__woman aside
.gallery__woman {
	@include clearfix;
	float: right;
}

.gallery__woman-preview {
	@include clearfix;
	float: right;
	margin-bottom: 60px;
}

.gallery__woman-dots {
	width: 100px;
	height: 580px;
	margin-right: 20px;
	float: left;
}

.gallery__woman-dots_item {
	width: 100px;
	height: 100px;
	position: relative;
	margin: 20px 0;
	border: 1px solid #494b4d;
	cursor: pointer;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.gallery__woman-dots_pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.gallery__woman-show {
	max-width: 388px;
	height: 580px;
	float: left;
	border: 1px solid #494b4d;
}

.gallery__woman-show_pic {
	width: 100%;
	height: 100%;
}

.gallery__woman-descr {
	padding-left: 45px;
}

.gallery__woman-form {
	width: 466px;
	height: 210px;
	border: 2px solid #0099cc;
	background-color: #eae7e9;
	margin: 25px auto 0;
}

// form
.footer__form-order {
	@include clearfix;
	padding: 0 6px;
	& .form-group:last-child {
		text-align: center;
	}
}

.footer__form-data {
	width: 205px;
	height: 30px;
	border: 2px solid #0099cc;
	background-color: #e5f2fa;
	float: left;
	font-size: 14px;
	margin: 10px;
	padding-left: 8px;
}

.footer__form-button {
	@include gorizontal-gradient;
	height: 55px;
	width: 240px;
	border: 0 none;
	font-size: 24px;
	@include jenya(mabold);
	color: #fff;
	text-transform: uppercase;
	margin: 10px auto 0;
}

// discount area
.discount {
	min-height: 645px;
	margin-top: -3px;
	margin-bottom: -1px;
	// position: relative;
	background: url('../img/discount-back.png') no-repeat center top/cover;
	@include clearfix;
}

.discount__price {
	width: 40%;
	float: left;
	color: #fff;
	padding-top: 125px;
}

.discount__title {
	@include jenya(caviar);
	font-size: 48px;
	text-align: center;
	text-transform: uppercase;
}

.discount__total-wrap {
	width: 442px;
	height: 120px;
	border: 4px solid #fff;
	position: relative;
	margin: -30px auto 10px;
	@include desktop {
		width: 100%;
		height: 100px;
	}
}

.discount__total {
	@include jenya(lato);
	font-size: 100px;
	color: #ffff00;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	left: 35px;
	bottom: 20px;
	@include desktop {
		font-size: 80px;
		bottom: 13px;
	}
}

.discount__total-currency {
	text-transform: uppercase;
	font-size: 48px;
	color: #ffff00;
}

.discount__text {
	@include jenya(caviar);
	font-size: 48px;
	text-align: center;
	@include desktop {
		font-size: 36px;
	}
}

.discount__photos {
	float: right;
	position: relative;
	height: 645px;
	width: 55%;
}

.discount__photos-item {
	height: 300px;
	width: 445px;
	position: absolute;
	&_first {
		top: 22px;
		right: 0;
		@include main(1420px) {
			right: 8%;
			top: 8%;
		}
	}
	&_second {
		top: 28%;
		left: -20px;
		z-index: 1;
		@include main(1240px) {
			left: 5%;
			top: 32%;
		}
	}
	&_third {
		bottom: 20px;
		right: -70px;
		@include main(1420px) {
			right: -30px;
		}
		@include main(1240px) {
			right: 0px;
			bottom: 8%;
		}
	}
	@include main(1420px) {
		width: 390px;
		height: 270px;
	}
	@include main(1240px) {
		width: 350px;
		height: 240px;
	}
}

.discount__photos-item_pic {
	@include absolute-center;
	max-height: 99.9%;
	max-width: 99.9%;
}

// delivery area
.delivery {
	min-height: 735px;
	background: url('../img/back-delivery.png') no-repeat center top/cover;
	padding-top: 15px;
}

.delivery__title {
	@include jenya(comfort);
	font-size: 48px;
	text-align: center;
	color: #1e5797;
	margin-bottom: 75px;
}

.delivery__content {
	position: relative;
	@include clearfix;
}

.delivery__arrow {
	position: absolute;
	&-one {
		width: 236px;
		height: 166px;
		left: 18.5%;
    top: 14%;
	}
	&-two {
		width: 221px;
		height: 72px;
		left: 44.3%;
    bottom: -107%;
	}
	&-three {
		width: 236px;
		height: 166px;
		right: 11.5%;
    top: 14%;
	}
}

.delivery__arrow-pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.delivery__item {
	position: relative;
	float: left;
	width: 25%;
	&:nth-child(2n+1) {
		bottom: -200px;
	}
}

.delivery__item-pic {
	width: 150px;
	height: 150px;
}

.delivery__item-pic_elem {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.delivery__item-text {
	font-size: 24px;
	text-align: center;
	margin-bottom: -60px;
}





// revievs area
.revievs {
	min-height: 760px;
	background: url('../img/back-revievs.png') no-repeat center top/cover;
	padding-top: 15px;
}

.revievs__title {
	color: #014991;
	font-size: 48px;
	@include jenya(comfort);
	text-align: center;
	margin-bottom: 60px;
}

.revievs__content {
	@include clearfix;
}

.revievs__item {
	width: 46%;
	height: 200px;
	float: left;
	@include clearfix;
	margin: 20px 20px 40px;
	position: relative;
}

.revievs__item-pic {
	width: 125px;
	height: 125px;
	position: absolute;
	bottom: 0;
}

.revievs__item-pic_elem {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.revievs__item-text {
	float: right;
	width: 373px;
	height: 163px;
	background-color: #014991;
	color: #fff;
	font-size: 14px;
	padding: 10px;
	border-radius: 10px 0 10px 0;
}

.revievs__item-name {
	@include jenya(mabold);
	font-size: 18px;
	color: #000;
	position: absolute;
	bottom: 1%;
	left: 40%;
}





.empty {
	height: 855px;
	@include tablets {
		height: 900px;
	}
	@include phones {
		height: 700px;
	}
}
// section footer
.footer {
	background: url('../img/back-footer.png') no-repeat center top/cover;
	position: relative;
	margin-top: -855px;
	min-height: 855px;
	font-size: 14px;
	color: #101010;
	@include tablets {
		min-height: 900px;
		margin-top: -900px;
		background: url('../img/back-footer.png') no-repeat 35% top/cover;
	}
	@include phones {
		min-height: 700px;
		margin-top: -700px;
		background: url('../img/back-footer.png') no-repeat 38% top/cover;
	}
}

.footer__logo {
	padding-top: 190px;
	padding-left: 140px;
	width: 282px;
	height: 213px;
	position: relative;
	float: left;
	@include desktop {
		padding-left: 10px;
	}
	@include laptop {
		width: 240px;
		height: 180px;
		padding-left: 0;
	}
	@include tablets {
		float: none;
		display: block;
		margin: 0 auto;
		height: 213px;
		width: 282px;
		padding-top: 60px;
		padding-left: 0;
	}
	@include phones {
		padding-top: 20px;
		width: 272px;
		height: 203px;
	}
}

.footer__logo-link {
	width: 100%;
	height: 100%;
}

.footer__logo-pic {
	position: absolute;
	max-width: 99.9%;
	max-height: 99.9%;
}

.footer__descr {
	float: right;
	color: #fff;
	text-align: center;
	padding-top: 150px;
	@include desktop {
		// margin-right: -20px;
	}
	@include tablets {
		float: none;
		display: block;
		margin: 75px auto 0;
		padding-top: 50px;
	}
	@include phones {
		padding-top: 0;
		margin-top: 45px;
	}
}

.footer__title {
	font-size: 72px;
	@include jenya(lato);
	@include desktop {
		font-size: 62px;
	}
	@include laptop {
		font-size: 46px;
	}
	@include phones {
		font-size: 32px;
	}
}

.footer__text {
	font-size: 48px;
	@include jenya(lato);
	@include phones {
		font-size: 32px;
	}
}

.footer__brand {
	position: relative;
	width: 588px;
	height: 94px;
	margin: 0 auto;
	@include desktop {
		width: 500px;
		height: 84px;
	}
	@include laptop {
		width: 400px;
	}
	@include phones {
		width: 280px;
	}
}

.footer__brand-pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.footer__price {
	position: relative;
	width: 100%;
	height: 75px;
}

.footer__price-old {
	font-size: 30px;
	position: absolute;
	left: 25%;
	top: 20%;
	@include desktop {
		left: 20%;
	}
	@include laptop {
		left: 10%;
	}
	@include tablets {
		left: 20%;
	}
	@include main(510px) {
		left: 10%;
	}
	@include phones {
		font-size: 22px;
		position: relative;
		display: inline-block;
		left: 0;
		top: 0;
		margin-left: 5px;
	}
}

.footer__price-old_line {
	width: 100%;
	height: 3px;
	background-color: #ff0000;
	position: absolute;
	transform: rotate(-10deg);
	left: -8%;
	top: 45%;
}

.footer__price-new {
	font-size: 48px;
	@include jenya(mabold);
	color: #ff0000;
	position: absolute;
	right: 26%;
	@include desktop {
		right: 15%;
	}
	@include laptop {
		right: 5%;
	}
	@include tablets {
		right: 15%;
	}
	@include main(510px) {
		right: 10%;
	}
	@include phones {
		font-size: 30px;
		position: relative;
		display: inline-block;
		left: 0;
		top: 0;
		margin-left: 40px;
	}
}

.footer__button {
	text-align: center;
	margin: 0 auto;
	height: 62px;
	width: 355px;
	margin-top: 105px;
	@include laptop {
		width: 300px;
	}
	@include tablets {
		margin-top: 40px;
	}
	@include phones {
		margin-top: 0;
		width: 232px;
		height: 40px;
	}
}

.footer__button-item {
	@include jenya(mabold);
	font-size: 35px;
	background: transparent;
	border: 2px solid #fff;
	cursor: pointer;
	color: #fff;
	width: 100%;
	padding-bottom: 6px;
	@include laptop {
		font-size: 28px;
	}
	@include phones {
		font-size: 24px;
	}
}


.footer__bottom {
	min-height: 60px;
	width: 100%;
	@include clearfix;
	background-color: rgba(#000, .5);
	position: absolute;
	bottom: 0;
	@include phones {
		min-height: 40px;
		padding: 5px 0;
	}
	& .row {
		min-height: 60px;
		position: relative;
		padding-top: 15px;
		@include tablets {
			padding-top: 5px;
		}
		@include phones {
			min-height: 40px;
			padding-top: 0;
		}
	}
}

.footer__bottom-politics {
	font-size: 16px;
	color: #fff;
	position: absolute;
	left: 40.3%;
	width: 260px;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	@include laptop {
		left: 50px;
	}
	@include tablets {
		display: block;
		margin: 0 auto;
		float: none;
		width: 230px;
		position: relative;
		left: 0;
		right: 0;
	}
	@include phones {
		font-size: 12px;
		width: 168px;
	}
}

.footer__bottom-copy {
	font-size: 16px;
	color: #fff;
	right: 50px;
	position: absolute;
	@include tablets {
		display: block;
		margin: 0 auto;
		float: none;
		width: 256px;
		position: relative;
		left: 0;
		right: 0;
	}
	@include phones {
		font-size: 12px;
		width: 192px;
	}
}